/* ==========================================================================
   archive css
   ========================================================================== */

.archive {
   &__subtitle {
      margin-bottom: 1em;
      font-size: $size01;
      font-weight: 700;
      color: $black02;
      letter-spacing: -1px;
   }

   .list__item {
      height: 300px;
      margin-bottom: 4em;
      cursor: pointer;

      .post__thumb {
         overflow: hidden;
         width: 50%;
         height: 100%;
         background: #f4f5f6;

         img {
            @include img_align_center();
            transition: $standard_transition;
         }
      }

      .info-wrap {
         position: relative;
         width: 50%;
         min-height: 230px;
         margin-left: -2em;
         padding: 2em;
         background: #fff;
         box-shadow: rgba(0,0,0,0.1) 0 6px 16px;
      }

      &:nth-of-type(even) {
         .post__thumb {
            order: 2;
         }

         .info-wrap {
            order: 1;
            margin-left: 2em;
            margin-right: -2em;
         }
      }

      &:hover,
      &.is--active {
         .post__thumb img {
            transform: translate(-50%, -50%) scale(1.1);
         }

         a {
            color: $main_color;
         }
      }
   }

   .archive__item {
      display: flex;
      position: relative;
      height: 100%;
      background: $grey02;
      align-items: center;

      &-title {
         font-size: $size01;

         a {
            display: block;
            @include multiple_ellipsis(2);
            font-weight: 700;
            color: $black02;
            line-height: 1.1;
            transition: $standard_transition;

            &:focus {
               color: $main_color;
            }
         }
      }
   }
}