/* ==========================================================================
   archive css
   ========================================================================== */

.content-wrapper {
   &.default-layout {
      .archive__item {
         @include clearfix();

         @media(min-width: $min_medium_width) {
            &-content {
               margin-top: 0.5rem;
            }
         }
      }

      .post-thumb {
         @media(min-width: $min_medium_width) {
            float: right;
            width: 14rem;
            margin-left: 2rem;
         }

         @media(max-width: $medium_width) {
            margin-top: 1rem;
            margin-bottom: 1rem;
         }
      }
   }

   &.column-layout {
      .archive {
         @include column_layout();
         column : {
            width: auto;
            gap: 4rem;
            rule: 1px solid $grey05;
         }
      }

      .list__item {
         display: inline-block;
         width: 100%;
         margin-top: 0;
         margin-bottom: 2rem;
         padding-top: 0;
         padding-bottom: 2rem;
         border-top: 0;
         border-bottom: 1px dashed $grey05;
      }

      .post-thumb {
         margin-top: 1rem;
         margin-bottom: 1rem;
      }
   }
}

.list__item {
   & + & {
     margin-top: 2rem;
     padding-top: 2rem;
     border-top: 1px dashed $grey03;
   }
}

.archive__subtitle {
   margin-bottom: 1rem;
   font-size: $font_size01;
   font-weight: 700;
   color: $black02;
   letter-spacing: -1px;
}

.post-thumb {
   display: flex;
   position: relative;
   overflow: hidden;
   height: 10rem;
   border: 1px solid $black;
   background: $grey02;
   justify-self: center;
   align-items: center;

   @media(min-width: $min_medium_width) {
      height: 7rem;
   }

   img {
      width: 100%;
      height: auto;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
   }
}

.archive__item {
   position: relative;

   &-title {
      line-height: 1.1;

      a {
         display: block;
         font-weight: 700;
         font-size: 1.4rem;
         line-height: 1.5;
         color: $black02;

         &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
         }

         span {
            display: block;
            @include ellipsis();
         }
      }
   }

   &-excerpt {
      display: block;
      margin-top: 0.5rem;
      color: $sub_color03;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1.3;

      &:before {
         content: "\2014";
         margin-right: 0.3rem;
      }
   }

   &-content {
      margin-bottom: 0.5rem;
      line-height: 1.8;
      font-size: 0.9rem;
   }
}

.post--tag {
   background: linear-gradient(to right, $green03, $green02);
}