/* ==========================================================================
   archive css
   ========================================================================== */

.archive__subtitle {
   margin-bottom: 1em;
   font: {
      size: $font_size01;
      weight: 700;
   };
   color: $black02;
   letter-spacing: -1px;
}

.list__item {
   & + & {
      margin-top: 2em;
      padding-top: 2em;
      border-top: 1px dashed $grey03;
   }

   .post-thumb {
      display: flex;
      overflow: hidden;
      height: 10rem;
      margin: 1rem 0;
      border: 1px solid $black;
      background: #f4f5f6;
      justify-content: center;
      align-items: center;

      img {
         width: 100%;
         height: auto;
         transition: $standard_transition;
      }

      @media(min-width: $min_small_width) {
         float: right;
         width: 15rem;
         height: 7rem;
         margin: {
            top: 0.5rem;
            left: 2rem;
            bottom: 0.5rem;
         };
      }
   }
}

.archive__item {
   position: relative;
   font-size: 15px;
   @include clearfix();

   @media(max-width: $large_width) {
      font-size: 14px;
   }

   @media(max-width: $medium_width) {
      font-size: 13px;
   }

   &.is--active {
      .post-thumb img {
         transform: scale(1.1);
      }

      a {
         color: $main_color;
      }

      .archive__item-content:before {
         width: 10em;
      }
   }

   &-title {
      margin-bottom: 0.5em;
      line-height: 1.1;

      a {
         display: block;
         @include ellipsis();
         font-weight: 700;
         font-size: 1.8em;
         line-height: 1.5;
         color: $black02;
         transition: $standard_transition;

         &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
         }

         span {
            display: block;
            @include ellipsis();
         }
      }
   }

   &-content {
      position: relative;
      margin-bottom: 0.5em;
      padding-top: 0.5em;
      line-height: 1.8;
      font-size: 1.2em;

      @media(min-width: $min_small_width) {
         &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 6em;
            height: 2px;
            background: $main_color;
            transition: $standard_transition;
         }
      }
   }
}

.post--tag {
   @include ellipsis();
   max-width: 40%;
   background: linear-gradient(to right, $green03, $green02);
   font-size: 0.5rem;

   &[lang="en"] {
      letter-spacing: -0.01rem;
   }
}