/* ==========================================================================
   base css
   ========================================================================== */

/* base element */
html {
   font-size: 18px;

   @media(max-width: $large_width) {
      font-size: 16px;
   }

   @media(max-width: $medium_width) {
      font-size: 15px;
   }

   @media(max-width: $tiny_width) {
      font-size: 14px;
   }
}

body {
   font-family: $default_font;
   letter-spacing: -0.034em;

   &.scroll-off {
      position: fixed;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 100%
   }

   &.is--hidden {
      overflow: hidden;
   }
}

a {
   color: inherit;
   text-decoration: none;
}

button {
   display: inline-block;
   padding: 0;
   border: 0;
   cursor: pointer;
}

a:focus,
button:focus {
   outline: thin dotted #666d72;
   outline: 5px auto #666d72;
   outline-offset: -2px
}

/* hide element */
.visually-hidden {
   position: absolute !important;
   clip: rect(1px, 1px, 1px, 1px) !important;
   height: 1px !important;
   width: 1px !important;
   border: 0 !important;
   overflow: hidden !important;
   margin: -1px !important;
}

/* skip links */
.skip-links a {
   color: #727272;
   transition: all 0.2s;

   &:focus,
   &:active {
      display: block;
      clip: auto !important;
      width: auto !important;
      height: auto !important;
      margin: 0 !important;
      font-size: 1.5em;
      font-weight: 700;
      padding: 1em;
      background: #fff;
      z-index: 100000;
      text-decoration: none;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
   }

   &:hover {
      color: $black;
   }
}

/* images */
img {
   &.is--horizontal {
      width: auto;
      height: 100%;
   }

   &.is--vertical {
      width: 100%;
      height: auto;
   }
}

/* scrollbar style */
::-webkit-scrollbar {
   width: 15px;
   height: 14px;
   -webkit-appearance: none;
 
   &-thumb {
     border: 1px solid #333;
     border-radius: 8px;
     background: #fff;
   }
 
   &-track {
     background: linear-gradient(to bottom, rgba(216, 216, 216, 0.3), rgba(185, 185, 185, 0.3));
   }
 }

/* cursor */
.cursor {
   display: inline-block;
   position: fixed;
   z-index: 99999;
   transform: translate(0, 0) rotate(0deg);
   pointer-events: none;
 
   @media(max-width: $large_width){
     display: none;
   }
 
   &.type1{
     width: 15px;
     height: 15px;
     border-radius: 4px 0;
     background: linear-gradient(45deg, $main_color, $sub_color02);
     animation: cursor-type1 3s infinite;
     @keyframes cursor-type1{
       0%, 100% {
         border-radius: 4px 0;
         transform: translate(0, 0) rotate(0deg);
       }
       50% {
         border-radius: 50%;
         transform: translate(-3px, 3px) rotate(45deg);
       }
     }
   }
 
   &.type2 {
     width: 8px;
     height: 10px;
     border: 1px solid $main_color;
     background-color: #fff;
     animation: cursor-type2 7s infinite;
     @keyframes cursor-type2{
       0%, 100% {
         width: 8px;
         transform: translate(0, 0) rotate(0deg);
       }
       50% {
         width: 10px;
         border-radius: 50%;
         transform: translate(5px, -10px) rotate(45deg);
       }
     }
   }
}

// element active test
.active-n {
   position: absolute;
   z-index: 99999;
   font-size: 5rem;
   font-weight: 700;
   color: $black02;
}