/* ==========================================================================
   Ui components css
   ========================================================================== */

/* Tab */
.tablist {
   @include clearfix();
   margin: 1rem 0;
   padding: 0;
   list-style: none;

   button {
      float: left;
      width: calc(100% / 4);
      margin: 0;
      padding: 1rem;
      border-bottom: 0.15rem solid $grey05;
      background: none;
      text-align: center;
      font-size: 1rem;
      line-height: 1;
      cursor: pointer;
      transition: border-bottom 0.3s;

      &:hover {
         font-weight: 700;
      }

      &.is--active {
         border-color: $main_color;
         font-weight: 700;
      }

      @media(max-width: $normal_width) {
         width: calc(100% / 3);
      }

      @media(max-width: $medium_width) {
         width: calc(100% / 2);
      }

      @media(max-width: $small_width) {
         float: none;
         width: auto;
      }
   }
}

.tabpanel {
   display: none;

   &.is--active {
      display: block;
   }
}

.page__content,
.styleguide {

   /* title */
   h2 {
      @include heading($margin: 1.5rem 0 1rem 0);
      font-size: 1.7rem;
   }

   h3 {
      @include heading();
      font-size: 1.6rem;
   }

   h4 {
      @include heading();
      font-size: 1.5rem;
   }

   h5 {
      @include heading();
      font-size: 1.4rem;
   }

   h6 {
      @include heading();
      font-size: 1.3rem;
   }
}

.heading-link {
   margin-right: 0.2rem;

   &:before {
      content: "\2711";
      display: inline-block;
      transform: rotate(90deg);
      color: $main_color;
      font-weight: 400;
      letter-spacing: normal;
      line-height: 1;
   }
}

/* Text */
.first-letter {
   line-height: 1;
   color: transparent;
   font-weight: 400;
   font-size: 3.5rem;
   text-indent: 0.3rem;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: $black;

   &.type1 {
      display: inline-block;
   }

   &.type2 {
      float: left;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
   }
}

hr {
   margin: 0.5rem 0;
   border: 0;
   border-top: 1px solid $grey06;
}

/* etc. */
.cont-box {
   margin: 2rem 0;
   padding: 2rem 1rem;

   &__tit {
      display: block;
      margin-bottom: 0.3rem;
      font-weight: 700;
      font-size: 1.1rem;
      line-height: 1.5;

      + {
         ul, ol {
            margin-top: 0;
         }
      }
   }

   > {
      ul, ol {
         &:only-of-type {
            margin-top: 0;
         }
      }
   }

   p {
      line-height: 1.5;
   }

   ul, ol {
      &:last-child {
         margin-bottom: 0;
      }
   }

   &.type1 {
      border: 1px solid $grey05;
   }

   @media (min-width: $min_large_width) {
      &.ico {
         position: relative;
         padding-left: 7rem;
         
         &:before {
            content: "";
            display: block;
            position: absolute;
            top: 30px;
            left: 1.5rem;
            width: 80px;
            height: 80px;
            background: url(/assets/images/sprite.png) no-repeat -5px -5px;
         }
      }
   }
}