/* ==========================================================================
   font css
   ========================================================================== */

/* Noto Sans KR */
@font-face {
   font-family: "NotoT";
   src: url(/assets/font/noto/NotoSansKR-Thin.otf);
}

@font-face {
   font-family: "NotoL";
   src: url(/assets/font/noto/NotoSansKR-Light.otf);
}

@font-face {
   font-family: "NotoR";
   src: url(/assets/font/noto/NotoSansKR-Regular.otf);
}

@font-face {
   font-family: "NotoM";
   src: url(/assets/font/noto/NotoSansKR-Medium.otf);
}

@font-face {
   font-family: "NotoB";
   src: url(/assets/font/noto/NotoSansKR-Bold.otf);
}

@font-face {
   font-family: "NotoBK";
   src: url(/assets/font/noto/NotoSansKR-Black.otf);
}