/* ==========================================================================
   masthead css
   ========================================================================== */

/* IE check */
#IEcheck {
   display: none;
   position: relative;
   z-index: 2;
   padding: 1em;
   background: $sub_color01;
   text-align: center;

   p {
      @include common_layout();
      line-height: 1.5;
   }

   strong {
      font-weight: 700;
   }

   a {
      font-weight: 700;
      text-decoration: underline;
   }

   &.is--visible {
      display: block;
   }
}

/* masthead layout */
.masthead {
   &__teaser {
      overflow: hidden;
      min-height: 24rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }

   .author-area {
      position: relative;
      @include common_layout();
      @include clearfix();
      padding: 4rem 0;
      font-size: 18px;

      @media(max-width: $big_width) {
         font-size: 15px;
      }

      @media(max-width: $medium_width) {
         font-size: 13px;
      }

      @media(max-width: $small_width) {
         font-size: 12px;
      }
   }

   .author__avatar {
      width: 12em;
      height: 16em;
      margin: 0 auto;
      filter: drop-shadow(6px 6px 8px rgba(0,0,0,0.2));

      .author__image-wrapper {
         display: flex;
         overflow: hidden;
         height: 100%;
         justify-content: center;
         align-items: center;
         -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 15% 100%, 0 87%, 0 0);
         clip-path: polygon(50% 0%, 100% 0, 100% 100%, 15% 100%, 0 87%, 0 0);
      }

      &.img--grayscale {
         img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
         }
      }

      &.img--center {
         img {
            @include img_align_center();
         }
      }

      @media(min-width: $min_minimal_width) {
         float: left;
      }

      + .author__info-wrapper {
         @media(min-width: $min_minimal_width) {
            float: right;
            width: calc(100% - 16em);
         }
      }
   }

   .author__info-wrapper {
      padding-top: 3em;
      color: #fff;
      text-shadow: rgba(0,0,0,0.5) 2px 2px 3px;
      word-break: keep-all;

      @media(max-width: $minimal_width) {
         padding-top: 3em;
      }
   }

   .author__name {
      display: block;
      position: relative;
      margin-bottom: 0.3em;
      padding-bottom: 0.3em;
      font: {
         size: 3.5em;
         weight: 700;
      };

      &:before,
      &:after {
         content: "";
         display: block;
         position: absolute;
         bottom: 0;
         width: 100%;
         height: 1px;
      }

      &:before {
         left: 0;
         background: linear-gradient(to right, $sub_color02, $main_color);
      }

      &:after {
         right: -100%;
         background: $main_color;

         @media(max-width: $minimal_width) {
            display: none;
         }
      }

      @media(max-width: $minimal_width) {
         text-align: center;
      }
   }

   .author__desc {
      font-size: 1.5em;
      line-height: 1.5;
   }
}

.site-nav {
   display: flex;
   @include common_layout();
   padding: 1em 0;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;

   &.nav--fixed {
      display: none;
      position: fixed;
      bottom: 5rem;
      right: 3rem;
      transform: scale(0);
      z-index: 9999;
      width: 16rem;
      height: 16rem;
      padding: 2rem;
      border-radius: 50%;
      background: #fff;
      box-shadow: rgba(0,0,0,0.3) 5px 5px 15px 0;
      text-align: center;
      cursor: move;
      justify-content: center;
      transition: transform 0.6s;

      > * {
         order: 0;
      }

      .site-subtitle {
         display: block;
         margin-left: 0;
         margin-top: 0.5em;
      }

      .nav__item {
         display: inline-block;
         position: absolute;
         z-index: 1;
         width: $nav_item_size;
         height: $nav_item_size;
         border-radius: 50%;
         background: linear-gradient(45deg, $main_color, $sub_color02);
         box-shadow: rgba(0,0,0,0.1) 3px 3px 5px;

         &:first-of-type {
            top: $nav_item_position;
            left: calc(#{$nav_item_size_position});
         }

         &:nth-of-type(2) {
            top: calc(#{$nav_item_size_position});
            left: $nav_item_position;
         }

         &:nth-of-type(3) {
            top: calc(#{$nav_item_size_position});
            right: $nav_item_position;
         }

         &:nth-of-type(4) {
            bottom: $nav_item_position;
            left: calc(#{$nav_item_size_position});
         }
      }

      .search__toggle .ico {
         width: 1.2rem;
         height: 1.2rem;
         fill: #fff;
      }

      .menu__toggle .ico {
         width: 1.2em;
         height: 2px;
         margin: 0 auto;
         background: #fff;
         
         &:before,
         &:after {
            background: #fff;
         }

         &:before {
            top: -.4rem
         }
      }

      .close-nav {
         background: linear-gradient(45deg, $black, $black02);
         color: #fff;

         span {
            font-size: 1.2em;
         }
      }

      .move-to-top {
         border: 1px solid $main_color;
         background: #fff;
         color: $black;

         span {
            font-size: 1.6em;
         }
      }
   }

   .btn-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   button {
      background: none;
   }
}

.site-title {
   display: block;
   color: $black;
   font: {
      size: 1.5rem;
      weight: 700;
   }
}

.site-subtitle {
   margin-left: 0.3em;
   font: {
      size: 0.6em;
      weight: 400;
   }
   color: $sub_color03;
}

.open-nav {
   position: fixed;
   bottom: 5em;
   right: 3em;
   z-index: 9999;
   width: 6em;
   height: 6em;
   border-radius: 50%;
   background: linear-gradient(45deg, $main_color, $sub_color02);
   color: #fff;

   &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: 115%;
      height: 115%;
      border-radius: 50%;
      border: 1px dashed $main_color;
   }

   span {
      font-size: 3em;
   }
}

// search toggle
.search__toggle {
   margin-right: 1.5rem;
   fill: $black;
   transition: all 0.2s;

   .ico {
      width: 1.5rem;
      height: 1.5rem;
   }
}

// menu toggle
.menu__toggle {
   display: flex;
   width: 1.5rem;
   height: 1.5rem;
   justify-content: center;
   align-items: center;

   .ico {
     display: block;
     width: 1.5rem;
     height: 2px;
     background: $main_color;
     transition: all 0.2s;

     &:before,
     &:after {
      content: "";
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      background: $main_color;
      transition: all 0.2s;
     }

     &:before {
       top: -.4rem;
     }

     &:after {
        bottom: -.3rem;
     }
   }
}