/* ==========================================================================
   masthead css
   ========================================================================== */

/* IE check */
#IEcheck {
   display: none;
   position: relative;
   z-index: 2;
   padding: 1em;
   background: $sub_color01;
   text-align: center;

   > div {
      @include layout();
   }

   strong {
      font-weight: 700;
   }

   a {
      font-weight: 700;
      text-decoration: underline;
   }

   &.is--visible {
      display: block;
   }
}

/* masthead layout */
.masthead {
   position: relative;

   &__teaser {
      background: {
         color: $main_color;
         repeat: no-repeat;
         position: center;
         size: cover;
         attachment: fixed;
      };

      .inner {
         position: relative;
         @include layout();
         padding: 5em 2em;
         text-align: center;
         word-break: keep-all;
      }

      .author-avatar {
         display: inline-block;
         overflow: hidden;
         width: 10em;
         height: 10em;
         margin-bottom: 2em;
         border-radius: 50%;
         border: 6px solid #fff;
      
         img {
            @include img_align_center();
         }
      }

      .teaser__title {
         display: block;
         margin-bottom: 0.5em;
         font: {
            size: 3.5rem;
            weight: 700;
         };
      }

      p {
         font-size: $size01;
         line-height: 1.4;
      }

      .teaser__title, p {
         max-width: 768px;
         margin-left: auto;
         margin-right: auto;
         color: #fff;
      }

      &.text-shadow {
         .teaser__title, p {
            text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
         }
      }
   }
}

.site-nav {
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: 1em 2em;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;

   button {
      display: inline-block;
      padding: 0;
      background: none;
      border: 0;
      cursor: pointer;
   }
}

.site-title {
   display: block;
   order: 2;

   .title-wrap {
      display: flex;
      align-items: center;

      strong {
         font: {
            size: 26px;
            weight: 700;
         }
         color: $main_color;
         letter-spacing: -1px;
      }
   }

   .site-subtitle {
      margin-left: 0.3em;
      font: {
         size: 0.6em;
         weight: 400;
      }
      color: $grey;
   }
}

// search toggle
.search__toggle {
   order: 1;
   fill: #fff;
   transition: all 0.2s;

   .ico {
      width: 2rem;
      height: 2rem;
   }
}

// menu toggle
.menu__toggle {
   order: 3;
   height: 2rem;

   .ico {
     display: block;
     position: relative;
     width: 2rem;
     height: .2rem;
     background: #fff;
     margin: auto;
     transition: all 0.2s;

     &:before,
     &:after {
       content: "";
       position: absolute;
       left: 0;
       width: 2rem;
       height: .2rem;
       background: #fff;
       transition: all 0.2s;
     }

     &:before {
       top: -.5rem;
     }

     &:after {
       bottom: -.5rem;
     }
   }

   &.close .ico {
     background: none;
   
     &:before,
     &:after {
       top: 0;
       transform-origin: 50% 50%;
       width: 2rem;
     }
   
     &:before {
       transform: rotate3d(0, 0, 1, 45deg);
     }
     &:after {
       transform: rotate3d(0, 0, 1, -45deg);
     }
   }
}