/* ==========================================================================
   FOOTER
   ========================================================================== */

.mastfoot {
  color: $black02;
  background: $grey02;
  text-align: center;

  .inner {
    position: relative;
    @include common_layout();
    padding: {
      top: 2.5rem;
      bottom: 2.5rem;
    };
  }

  a:hover {
    text-decoration: underline;
  }

  .move-to-top {
    display: flex;
    position: absolute;
    top: -20px;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    border: 1px solid $main_color;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: $standard_transition;

    span {
      color: $black;
      font-size: 1.2rem;
    }

    &:hover,
    &:focus {
      background: $sub_color01;
      text-decoration: none;
    }
  }

  &__copyright {
    p {
      line-height: 1.5;
      font-size: 0.8rem;
    }
  }
}