/* ==========================================================================
   masthead css
   ========================================================================== */

/* IE check */
#IEcheck {
   display: none;
   position: relative;
   z-index: 2;
   padding: 2rem 1rem;
   background: $sub_color01;
   text-align: center;

   p {
      @include common_layout();
      line-height: 1.6;
   }

   strong {
      font-weight: 700;
   }

   a {
      font-weight: 700;
      text-decoration: underline;
   }
}

.only-ie {
   #IEcheck {
      display: block;
   }
}

/* masthead layout */
.masthead {
   &__teaser {
      overflow: hidden;
      min-height: 22rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }

   .author {
      &-wrapper {
         position: relative;
         @include common_layout();
         padding: 6rem 0;

         @media(min-width: $min_small_width) {
            @include clearfix();
         }

         @media(max-width: $small_width) {
            padding: 3rem 0;
         }
      }

      &__avatar {
         width: 11rem;
         height: 14rem;
         margin: 0 auto;
         filter: drop-shadow(6px 6px 8px rgba(0,0,0,0.2));

         @media(min-width: $min_small_width) {
            float: left;
         }

         + .author__info-wrapper {
            @media(min-width: $min_small_width) {
               padding-left: 14.5rem;
               padding-top: 3rem;
            }
         }
      }

      &__image-wrapper {
         display: flex;
         overflow: hidden;
         height: 100%;
         justify-content: center;
         align-items: center;
         -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 15% 100%, 0 87%, 0 0);
         clip-path: polygon(50% 0%, 100% 0, 100% 100%, 15% 100%, 0 87%, 0 0);
      }

      &__info-wrapper  {
         padding-top: 1.5rem;
         color: #fff;
         text-shadow: rgba(0,0,0,0.5) 2px 2px 3px;
         word-break: keep-all;
      }

      &__name {
         display: block;
         position: relative;
         margin-bottom: 0.8rem;
         padding-bottom: 0.8rem;
         border-style: solid;
         border-image: linear-gradient(to right, $sub_color02, $sub_color03);
         border-image-slice: 1;
         border-bottom-width: 1px;
         font-size: 2.7rem;
         font-weight: 400;

         &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            left: 100%;
            width: 100vw;
            height: 1px;
            background: $sub_color03;

            @media(max-width: $small_width) {
               display: none;
            }
         }

         @media(max-width: $small_width) {
            text-align: center;
         }
      }

      &__desc {
         font-size: 1.3rem;
         font-weight: 300;
         line-height: 1.5;
      }
   }
}

.site-nav {
   display: flex;
   @include common_layout();
   padding: 1.7rem 0;
   justify-content: space-between;
   align-items: center;

   .btn-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   button {
      overflow: hidden;
      width: 1.5rem;
      height: 1.5rem;
      background: none;
   }

   .nav__item {
      + .nav__item {
         margin-left: 1.2rem;
      }
   }
}

.site {
   &-title {
      display: block;
      padding-right: 2rem;
      font-size: 1.4rem;

      @media(max-width: $small_width) {
         font-size: 1.3rem;
      }
   }

   &-subtitle {
      margin-left: 0.3rem;
      font-size: 0.6em;
      line-height: 1.3;
      color: $black;

      @media(max-width: $small_width) {
         display: block;
         margin-left: 0;
         margin-top: 0.5rem;
      }
   }
}

// search toggle
.nav__search-open {
   svg {
      transform: rotate(45deg);
      stroke-width: 15px;
      stroke: $black; // #fff
      // filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.6));
   }

   // .ico {
   //    display: inline-block;
   //    transform: rotate(-45deg);

   //    span {
   //       display: block;
   //       position: relative;
   //       width: 1rem;
   //       height: 1rem;
   //       border: 1px solid #fff;
   //       border-radius: 50%;
   //       box-shadow: rgba(0,0,0,0.3) 2px 2px 3px;

   //       &:before {
   //          content: "";
   //          display: block;
   //          position: absolute;
   //          top: 100%;
   //          right: 0;
   //          left: 0;
   //          width: 1px;
   //          height: 0.4rem;
   //          margin: 0 auto;
   //          background: #fff;
   //          box-shadow: inherit;
   //       }
   //    }
   // }
}

// menu toggle
.nav__menu-open {
   .ico {
     display: block;
     width: 1.5rem;
     height: 1px;
     background: $main_color; // #fff
   //   box-shadow: rgba(0,0,0,0.6) 2px 2px 3px;

     &:before,
     &:after {
      content: "";
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      background: inherit;
     }

     &:before {
       top: -8px;
     }

     &:after {
        bottom: -7px;
     }
   }
}