/* ==========================================================================
   mastfoot css
   ========================================================================== */

.mastfoot {
  color: $black02;
  background: $grey02;
  text-align: center;

  > .inner {
    position: relative;
    max-width: max-content;
    margin: 0 auto;
    padding: 2.5rem 1rem;

    @media(max-width: $small_width) {
      max-width: none;
      width: 90%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  a {
    @media(min-width: $min_large_width) {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .move-to-top {
    overflow: hidden;
    position: absolute;
    top: -25px;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    border: 1px solid $sub_color03;
    border-radius: 50%;

    svg {
      width: 100%;
      height: 100%;
      fill: none;
      stroke: $black02;
      stroke-width: 8px;
    }
  }

  &__copyright {
    line-height: 1.5;
    font-size: 0.8rem;
  }
}