/* ==========================================================================
   masthead css
   ========================================================================== */

/* IE check */
#IEcheck {
   display: none;
   position: relative;
   z-index: 2;
   padding: 1rem;
   background: $sub_color01;
   text-align: center;

   p {
      @include common_layout();
      line-height: 1.6;
   }

   strong {
      font-weight: 700;
   }

   a {
      font-weight: 700;
      text-decoration: underline;
   }
}

.only-ie {
   #IEcheck {
      display: block;
   }
}

/* masthead layout */
.masthead {
   &__teaser {
      overflow: hidden;
      min-height: 22rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }

   .author {
      &-wrapper {
         position: relative;
         @include common_layout();
         @include clearfix();
         padding: 5.5rem 0;
      }

      &__avatar {
         width: 11rem;
         height: 14rem;
         margin: 0 auto;
         filter: drop-shadow(6px 6px 8px rgba(0,0,0,0.2));

         @media(min-width: $min_small_width) {
            float: left;
         }

         + .author__info-wrapper {
            @media(min-width: $min_small_width) {
               float: right;
               width: calc(100% - 15rem);
            }
         }
      }

      &__image-wrapper {
         display: flex;
         overflow: hidden;
         height: 100%;
         justify-content: center;
         align-items: center;
         -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 15% 100%, 0 87%, 0 0);
         clip-path: polygon(50% 0%, 100% 0, 100% 100%, 15% 100%, 0 87%, 0 0);
      }

      &__info-wrapper  {
         padding-top: 2.5rem;
         color: #fff;
         text-shadow: rgba(0,0,0,0.5) 2px 2px 3px;
         word-break: keep-all;
      }

      &__name {
         display: block;
         position: relative;
         margin-bottom: 0.8rem;
         padding-bottom: 0.8rem;
         font-size: 2.7rem;
         font-weight: 400;

         &:before,
         &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
         }

         &:before {
            left: 0;
            background: linear-gradient(to right, $sub_color02, $sub_color03);
         }

         &:after {
            right: -100%;
            background: $sub_color03;

            @media(max-width: $small_width) {
               display: none;
            }
         }

         @media(max-width: $small_width) {
            text-align: center;
         }
      }

      &__desc {
         font-size: 1.3rem;
         font-weight: 300;
         line-height: 1.5;
      }
   }
}

.site-nav {
   display: flex;
   @include common_layout();
   padding: 1.7rem 0;
   justify-content: space-between;
   align-items: center;

   .btn-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   button {
      overflow: hidden;
      width: 1.5rem;
      height: 1.5rem;
      background: none;

      svg {
         width: 100%;
         height: 100%;
         fill: none;
      }
   }
}

.site {
   &-title {
      display: block;
      color: $sub_color03;
      font-size: 1.4rem;
      font-weight: 400;
   }

   &-subtitle {
      margin-left: 0.2rem;
      font-size: 16px;
      color: $black;
   }
}

.open-nav {
   position: fixed;
   bottom: 5em;
   right: 3em;
   z-index: 9999;
   width: 6em;
   height: 6em;
   border-radius: 50%;
   background: linear-gradient(45deg, $main_color, $sub_color02);
   color: #fff;

   &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: 115%;
      height: 115%;
      border-radius: 50%;
      border: 1px dashed $main_color;
   }

   span {
      font-size: 3em;
   }
}

// search toggle
.nav__search-open {
   margin-right: 1.2rem;

   svg {
      transform: rotate(45deg);
      stroke-width: 15px;
      stroke: $black02;
   }
}

// menu toggle
.nav__menu-open {
   .ico {
     display: block;
     width: 1.5rem;
     height: 1px;
     background: $sub_color03;

     &:before,
     &:after {
      content: "";
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      background: inherit;
     }

     &:before {
       top: -8px;
     }

     &:after {
        bottom: -7px;
     }
   }
}