/* ==========================================================================
   mixins css
   ========================================================================== */

/* common layout */
@mixin layout($custom_width: 1200px, $custom_margin: 0 auto) {
   max-width: $custom_width;
   margin: $custom_margin;

   @media(max-width: $standard_width) {
      max-width: none;
      width: 95%;
   }
}

// clearfix
@mixin clearfix {
   &:after {
      content: "";
      display: table;
      clear: both;
   }
}

/* transition */
@mixin transition($pro: all, $dur: 0.3s, $tim: ease, $del: initial) {
   transition-property: $pro;
   transition-duration: $dur;
   transition-timing-function: $tim;
   transition-delay: $del;
}

/* text */
@mixin ellipsis() {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

@mixin multiple_ellipsis($line-clamp) {
   display: -webkit-box;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: $line-clamp;
   -webkit-box-orient: vertical;
}

/* images */
@mixin img_align_center {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}