/* ==========================================================================
   mixins css
   ========================================================================== */

/* common layout */
@mixin common_layout($max_width: $layout_width, $width: null, $margin: 0 auto) {
   @if $width {
      width: $width;
   } @else {
      max-width: $max_width;
   }
   margin: $margin;

   @media(max-width: $standard_width) {
      @if $width == null {
         max-width: none;
         width: 90%;
      }
   }
}

// column layout
@mixin column_layout($count: 4) {
   column-count: $count;

   @media(max-width: $normal_width) {
      column-count: $count - 1;
   }
   
   @media(max-width: $standard_width) {
      column-count: $count - 2;
   }
   
   @media(max-width: $medium_width) {
      $count: $count - 3;

      @if $count == 1 {
         column-count: auto;
      }
      @else {
         column-count: $count;
      }
   }
}

// clearfix
@mixin clearfix {
   &:after {
      content: "";
      display: table;
      clear: both;
   }
}

/* transition */
@mixin transition($pro: all, $dur: 0.3s, $tim: ease, $del: initial) {
   transition-property: $pro;
   transition-duration: $dur;
   transition-timing-function: $tim;
   transition-delay: $del;
}

/* text */
@mixin heading($margin: 1rem 0, $color: $black) {
   display: block;
   margin: $margin;
   color: $color;
   line-height: 1.2;
}

@mixin ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

@mixin multiple_ellipsis($line-clamp) {
   display: -webkit-box;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: $line-clamp;
   -webkit-box-orient: vertical;
}

/* images */
@mixin img_align_center {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: auto;
   backface-visibility: hidden;
}