/* ==========================================================================
   navigation css
   ========================================================================== */

/* primary navigation */
.side-menu {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 10000;
   background: rgba(0,0,0,0.3);

   &.is--visible {
      display: block;
   }

   .menu__layer {
      position: absolute;
      top: 0;
      right: -100%;
      overflow-y: auto;
      width: 700px;
      height: 100vh;
      padding: 4rem 2.5rem;
      background-color: #fff;
      box-shadow: rgba(0,0,0,0.3) 8px 8px 20px 10px;
   
      @media(max-width: $large_width) {
         width: 100%;
      }
   
      h2, h3 {
         color: $black;
         font-weight: 700;
         line-height: 2;
      }
   
      h2 {
         border-bottom: 1px solid $black;
         font-size: 1.8rem;
      }
   
      h3 {
         font-size: 1.4rem;
      }
   
      ul {
         margin-bottom: 1rem;
         padding-left: 2rem;
         list-style: circle;
      }
   
      li {
         margin: 1.2rem 0;
         color: $black02;
         font-size: 1.1rem;
         line-height: 1.3;
   
         a {
            display: block;

            @media(min-width: $min_large_width) {
               &:hover {
                  text-decoration: underline;
               }
            }
         }
      }
   
      .close-nav {
         position: absolute;
         top: 0;
         right: 0;
         width: 3rem;
         height: 3rem;
         border: 1px solid $grey03;
         background: none;
         color: $main_color;
         transition: $standard_transition;

         .ico {
            display: block;
            position: relative;
            transform: rotate(45deg);
            width: 1.3rem;
            height: 1px;
            margin: auto;
            background: $main_color;

            &:before {
               content: "";
               display: block;
               position: absolute;
               top: 0;
               right: 0;
               transform: rotate(90deg);
               width: 100%;
               height: 100%;
               background: inherit;
            }
         }

         @media(min-width: $min_large_width) {
            &:hover,
            &:focus {
               background: $main_color;
               border-color: $main_color;

               .ico {
                  background: #fff;
               }
            }
         }
      }
   }
}

/* pagination */
.pagination {
   margin-top: 4rem;
   text-align: center;
   column-span: all;

   ul {
      list-style: none;
   }

   li {
      display: inline-block;
      position: relative;
      margin: 0 0.5rem;
      font-size: 1rem;
      vertical-align: middle;

      &.current {
         font-size: 2rem;
         color: $sub_color03;
      }

      &.disabled {
         pointer-events: none;
      }

      a {
         display: block;
         padding: 0.5rem 1rem;

         @media(min-width: $min_large_width) {
            &:hover,
            &:focus {
               color: $sub_color03;
            }
         }
      }

      @media(max-width: $minimal_width) {
         &:not(.is--visible) {
            display: none;
         }

         &:not(.is--arrow) {
            color: $sub_color03;
         }

         &.current {
            font-size: 1rem;
         }
         
         &.page--total {
            position: relative;
            padding-left: 1rem;

            &:before {
               content: "of";
               display: inline-block;
               position: absolute;
               top: 10px;
               left: 0;
               color: initial;
            }
         }
      }
   }

   &--pager {
      display: inline-block;
      width: 50%;
      padding: 1.5rem;
      border: 1px solid $grey05;
      font-size: 1rem;
      font-weight: 700;
      color: $grey;

      & + & {
         border-left: 0;
      }

      &.disabled {
         color: $grey03;
         pointer-events: none;
      }

      @media(min-width: $min_large_width) {
         &:hover,
         &:focus {
            color: $main_color;
         }
      }
   }
}