/* ==========================================================================
   navigation css
   ========================================================================== */

/* primary navigation */
.side-menu {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 10000;
   background: rgba(0,0,0,0.3);

   &.is--visible {
      display: block;
   }
}

.menu__layer {
   position: absolute;
   top: 0;
   right: -100%;
   overflow-y: auto;
   width: 800px;
   height: 100vh;
   padding: 2.5rem;
   background-color: #fff;
   box-shadow: rgba(0,0,0,0.3) 8px 8px 20px 10px;

   @media(max-width: $large_width) {
      width: 100%;
   }

   h2, h3 {
      color: $black;
      font-weight: 700;
      line-height: 1.3;
   }

   h2 {
      margin: 1.5rem 0 1rem 0;
      padding-bottom: 1rem;
      border-bottom: 1px solid $black;
      font-size: 1.5rem;

      &:before {
         content: "\270D";
         margin-right: 5px;
         letter-spacing: normal;
         line-height: 1;
         vertical-align: 0.25rem;
      }
   }

   h3 {
      font-size: 1.3rem;

      &:before {
         content: "\2712";
         margin-right: 7px;
         letter-spacing: normal;
         line-height: 1;
         vertical-align: middle;
      }

      ~ h3 {
         margin-top: 1.5rem;
      }
   }

   ul {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-left: 2rem;
      list-style: circle;
   }

   li {
      margin: 1.2rem 0;
      color: $black02;
      font-size: 1.1rem;
      line-height: 1.3;

      a {
         display: block;
         color: inherit;

         @media(min-width: $min_large_width) {
            &:hover {
               text-decoration: underline $main_color;
            }
         }
      }
   }
}

.menu__grid-list {
   display: grid;
   grid-template-columns: 50% 50%;

   li {
      margin: 0.8rem 0;
      padding-right: 2rem;
   }
}

.menu__close {
   position: absolute;
   top: 0;
   right: 0;
   width: 2.5rem;
   height: 2.5rem;
   background: #525252;

   .ico {
      display: block;
      position: relative;
      transform: rotate(45deg);
      width: 1rem;
      height: 1px;
      margin: auto;
      background: #fff;

      &:before {
         content: "";
         display: block;
         position: absolute;
         top: 0;
         right: 0;
         transform: rotate(90deg);
         width: 100%;
         height: 100%;
         background: inherit;
      }
   }

   &:focus {
      outline: 2px solid $main_color;
   }
}

/* pagination */
.pagination {
   margin-top: 4rem;
   text-align: center;
   column-span: all;

   ul {
      margin: 0;
      padding: 0;
      list-style: none;
   }

   li {
      display: inline-block;
      position: relative;
      margin: 0 0.5rem;
      font-size: 1rem;
      line-height: 1;
      vertical-align: middle;

      &.current {
         margin: 0 1rem;
         font-size: 2rem;
         color: $sub_color03;
      }

      &.disabled {
         pointer-events: none;
      }

      a {
         display: block;
         padding: 0.5rem 1rem;
         color: $black03;

         @media(min-width: $min_large_width) {
            &:hover,
            &:focus {
               color: $sub_color03;
            }
         }
      }

      @media(max-width: $minimal_width) {
         &:not(.is--visible) {
            display: none;
         }

         &:not(.is--arrow) {
            color: $sub_color03;
         }

         &.current {
            font-size: 1rem;
         }
         
         &.page--total {
            position: relative;
            padding-left: 1rem;

            &:before {
               content: "of";
               display: inline-block;
               position: absolute;
               top: 10px;
               left: 0;
               color: initial;
            }
         }
      }
   }

   &--pager {
      display: inline-block;
      width: 50%;
      padding: 1.5rem;
      border: 1px solid $grey05;
      font-size: 1rem;
      font-weight: 700;
      color: $grey;

      & + & {
         @media(min-width: $min_small_width) {
            border-left: 0;
         }

         @media(max-width: $small_width) {
            border-top: 0;
         }
      }

      &.disabled {
         color: $grey03;
         pointer-events: none;
      }

      @media(min-width: $min_large_width) {
         &:hover,
         &:focus {
            color: $main_color;
         }
      }

      @media(max-width: $small_width) {
         display: block;
         width: auto;
      }
   }
}