/* ==========================================================================
   navigation css
   ========================================================================== */

/* primary navigation */
.side-menu {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 10000;
   background: rgba(0,0,0,0.3);

   &.is--visible {
      display: block;
   }

   .menu__layer {
      position: absolute;
      top: 0;
      right: -100%;
      overflow-y: auto;
      width: 700px;
      height: 100%;
      padding: 4em 2.5em;
      background-color: #fff;
      box-shadow: rgba(0,0,0,0.3) 8px 8px 20px 10px;
   
      @media(max-width: $large_width) {
         width: 100%;
      }
   
      h2, h3 {
         color: $black;
         font-weight: 700;
         line-height: 2;
      }
   
      h2 {
         border-bottom: 1px solid $black;
         font-size: 2rem;
      }
   
      h3 {
         font-size: 1.4rem;
      }
   
      ul {
         margin-bottom: 1rem;
         padding-left: 2rem;
      }
   
      li {
         margin: 1.2rem 0;
         color: $black02;
         font-size: 1.2rem;
         line-height: 1.3;
         list-style-type: circle;

         &:hover {
            list-style-type: disc;
         }
   
         a {
            @mixin side_menu_anchor() {
               display: block;
               @include ellipsis();
            }
            @include side_menu_anchor();

            &:hover {
               text-decoration: underline;
            }

            span {
               @include side_menu_anchor();
            }
         }
      }
   
      .close-nav {
         position: absolute;
         top: 0;
         right: 0;
         width: 3rem;
         height: 3rem;
         border: 1px solid $grey03;
         background: none;
         color: $main_color;
         transition: $standard_transition;
   
         span {
            font-size: $font_size01;
         }
   
         &:hover,
         &:focus {
            background: $main_color;
            border-color: $main_color;
            color: #fff;
         }
      }
   }
}

/* pagination */
.pagination {
   margin-top: 4em;
   text-align: center;

   li {
      display: inline-block;
      position: relative;
      width: 3rem;
      font-size: 1rem;

      &.current {
         z-index: -1;
         transform: scale(2);
         color: $sub_color03;
      }

      &.disabled {
         pointer-events: none;
      }

      a {
         display: block;

         &:hover,
         &:focus {
            color: $sub_color03;
         }
      }
   }
}