/* ==========================================================================
   page css
   ========================================================================== */

.content-wrapper {
   @include common_layout();
   padding: 4rem 0;

   &.column-layout {
      @include common_layout($width: 90%);
      max-width: none;
   }
}

.post {
   &-item {
      display: inline-block;
      height: 36px;
      margin: {
         right: 0.3rem;
         bottom: 0.3rem;
      };
      padding: {
         left: 1rem;
         right: 1rem;
      }
      font-size: 15px;
      line-height: 36px;
      letter-spacing: -0.01rem;
      color: #fff;
      vertical-align: top;
   }

   &--date {
      background: $black02;
   }

   &--important {
      background: linear-gradient(to right, $main_color, $sub_color02);
   }
}

.page {
   &__title {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $grey05;
      font-size: 2rem;
      font-weight: 700;
      color: $black;
      line-height: 1.4;
   }

   &__lead {
      margin-bottom: 3rem;
      font-size: 1.5rem;
      line-height: 1.5;
      color: #fff;

      &:before {
         content: "\2014";
         margin-right: 0.3rem;
      }
   }

   &__meta {
      margin-top: 2rem;
      color: $black02;
      font-size: 0.9rem;

      + .pagination {
         margin-top: 1.5rem;
         padding-top: 1.2rem;
         border-top: 1px solid $grey04;
      }
   }

   &__taxonomy {
      &-wrapper {
         margin-top: 0.5rem;
      }

      strong {
         font-weight: 700;
         color: $grey;;

         &:after {
            content: "\2014";
            margin-left: 0.3rem;
            margin-right: 0.3rem;
            font-weight: 400;
         }
      }

      &-item {
         display: inline-block;
         height: 32px;
         margin-right: 0.3rem;
         margin-bottom: 0.3rem;
         padding: 0 1rem;
         background: $grey06;
         border-radius: 5px;
         color: $black;
         letter-spacing: -0.01rem;
         line-height: 32px;
         transition: $standard_transition;
   
         &:hover,
         &:focus {
            background: $grey05;
         }
      }
   }

   &__share {
      margin-top: 1.2rem;
      padding-top: 1.5rem;
      border-top: 1px solid $grey04;

      .btn {
         display: inline-block;
         position: relative;
         z-index: 1;
         margin-right: 0.3rem;
         margin-bottom: 0.3rem;
         padding: 0.5rem 1rem;
         border-radius: 5px;
         color: #fff;
         font-size: 0.9rem;

         &--twitter {
            background: $twitter_color;
         }
      
         &--facebook {
            background: $facebook_color;
         }
      
         &--linkedin {
            background: $linkedin_color;
         }

         &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            border-radius: inherit;
            transition: $standard_transition;
         }

         &:hover:before,
         &:focus:before {
            background: rgba(0,0,0,0.3);
         }

         svg {
            margin-right: 0.2rem;
         }
      }

      &-title {
         margin-bottom: 0.5rem;
         font-weight: 700;
         font-size: 0.9rem;
         color: $black02;
      }
   }

   // hero layout
   &__hero {
      padding: 6rem 0 5rem 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      
      .page__title {
         font-size: 2.5rem;
         color: #fff;
      }

      .wrapper {
         @include common_layout();
         text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
      }
   }

   &__date {
      color: #fff;
      letter-spacing: -0.01rem;
      text-align: right;
   }

   &__content {
      p {
         font-size: 1.1rem;
         line-height: calc(100% + 1rem);
         letter-spacing: -0.01rem;
         color: $black;
         word-break: keep-all;

         ~ p {
            margin-top: 1.5rem;
         }
      }
   }

   &__author {
      margin: 1rem 0 1.5rem 0;
      padding-top: 1.5rem;
      border-top: 1px solid $grey04;
      @include clearfix();

      .author {
         &__avatar {
            float: left;
            width: 6rem;
            height: 6rem;
      
            @media(min-width: $min_small_width) {
               + .author__info-wrapper {
                  padding-left: 7.5rem;
                  padding-top: 1.3rem;
               }
            }

            @media(max-width: $small_width) {
               display: none;
            }
         }

         &__image-wrapper {
            display: flex;
            overflow: hidden;
            height: 100%;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
         }

         &__name {
            display: block;
            margin-bottom: 0.5rem;
            color: $black02;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.2;
         }

         &__desc {
            font-size: 1rem;
            line-height: 1.3;
         }
      }
   }
}

.first-letter {
   color: #333;
   text-indent: 0.3rem;

   &.type1 {
      display: inline-block;
      font-size: 2.5rem;
      vertical-align: text-bottom;
   }

   &.type2 {
      float: left;
      margin-top: 0.5rem;
      margin-right: 1rem;
      font-size: 3.5rem;
      line-height: 1;
   }
}

.tablist {
   @include clearfix();
   margin: 1rem 0;
   list-style: none;

   li {
      float: left;
      @include tab_width(4);
      padding: 1rem;
      border-bottom: 0.15rem solid $grey05;
      text-align: center;
      cursor: pointer;
      transition: $standard_transition;

      &:hover,
      &:focus,
      &.is--active {
         border-color: $main_color;
      }
   }
}

.tabpanel {
   &.is--active {
      display: block;
   }
}

.h {
   &2 {
      @include heading($margin: 1.5rem 0 1rem 0);
      position: relative;
      padding-left: 1rem;
      font-size: 1.9rem;
      font-weight: 700;

      &:before {
         content: "";
         display: block;
         position: absolute;
         top: 0.3rem;
         left: 0;
         width: 0.3rem;
         height: 1.5rem;
         border-radius: 5px;
         background: $main_color;
         transform: rotate(30deg);
      }
   }

   &3 {
      @include heading($color: $main_color);
      font-weight: 700;
      font-size: 1.8rem;
   }

   &4 {
      @include heading();
      font-weight: 700;
      font-size: 1.7rem;
   }

   &5 {
      @include heading();
      font-size: 1.6rem;
   }

   &6 {
      @include heading($color: $black02);
      font-size: 1.5rem;
   }
}

.cont-box {
   margin: 2rem 0;
   padding: 2rem 1rem;

   &__tit {
      font-weight: 700;
      font-size: 1.1rem;
      line-height: 1.5;
   }

   p {
      line-height: 1.5;
   }

   &.type1 {
      border: 1px solid $grey03;
   }

   @media (min-width: $min_medium_width) {
      &.ico {
         position: relative;
         padding-left: 7rem;
         
         &:before {
            content: "";
            display: block;
            position: absolute;
            top: 30px;
            left: 1.5rem;
            width: 4rem;
            height: 4rem;
            background: url(/assets/images/cont_box_ico01.png) no-repeat;
            background-size: 100%;
         }
      }
   }
}