/* ==========================================================================
   page css
   ========================================================================== */

#main {
   position: relative;
   @include layout();
   padding: 3em;
   background: #fff;

   @media(min-width: 1421px) {
      margin-top: -4em;
   }
}

.post-important {
   display: block;
   position: absolute;
   top: -0.6em;
   right: 0;
   z-index: 1;
   width: auto;
   height: 2em;
   padding: 0 1em;
   background: linear-gradient(to right, $sub_color02, $main_color);
   color: #fff;
   font-size: 14px;
   text-align: center;
   line-height: 2em;
}

.archive .list__item:nth-of-type(even) .post-important {
   right: auto;
   left: 0;
}

.page__title {
   margin-bottom: 1rem;
   font-size: 2rem;
   font-weight: 700;
   color: $black;
}

.page__date {
   margin: 10px 0;
   color: $grey;
   font-size: 16px;
}

.archive__item-content {
   @include multiple_ellipsis(3);
   line-height: 1.6;
}