/* ==========================================================================
   page css
   ========================================================================== */

.content-wrapper {
   @include common_layout();
   padding: 4rem 0;

   &.column-layout {
      @include common_layout($width: 90%);
      max-width: none;
   }
}

.post {
   &-item {
      display: inline-block;
      height: 36px;
      margin: {
         right: 0.3rem;
         bottom: 0.3rem;
      };
      padding: {
         left: 1rem;
         right: 1rem;
      }
      font-size: 15px;
      line-height: 36px;
      letter-spacing: -0.01rem;
      color: #fff;
      vertical-align: top;
   }

   &--date {
      background: $black02;
   }

   &--important {
      background: linear-gradient(to right, $main_color, $sub_color02);
   }
}

.page {
   &__title {
      margin-bottom: 1rem;
      font: {
         size: 2rem;
         weight: 700;
      };
      color: $black;
      line-height: 1.4;
   }

   &__lead {
      margin-bottom: 3rem;
      font-size: 1.5rem;
      color: #fff;

      &:before {
         content: "\2014";
         margin-right: 0.3rem;
      }
   }

   // hero layout
   &__hero {
      padding: 8rem 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      
      .page__title {
         font-size: 2.5rem;
         color: #fff;
      }

      .page__date {
         color: #fff;
         text-align: right;
      }

      .wrapper {
         @include common_layout();
         text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
      }
   }

   &__content {
      p {
         font-size: 1.1rem;
         line-height: 1.8;
         letter-spacing: -0.01rem;
         color: $black;
         word-break: keep-all;

         ~ p {
            margin-top: 1.5rem;
         }
      }
   }
}