/* ==========================================================================
   UI css
   ========================================================================== */

/* Tab */
.tablist {
   @include clearfix();
   margin: 1rem 0;
   padding: 0;
   list-style: none;

   li {
      float: left;
      width: calc(100% / 4);
      padding: 1rem;
      border-bottom: 0.15rem solid $grey05;
      text-align: center;
      line-height: 1;
      cursor: pointer;
      transition: $standard_transition;

      &:hover,
      &:focus,
      &.is--active {
         border-color: $main_color;
         font-weight: 700;
      }

      @media(max-width: $normal_width) {
         width: calc(100% / 3);
      }

      @media(max-width: $medium_width) {
         width: calc(100% / 2);
      }

      @media(max-width: $small_width) {
         float: none;
         width: auto;
      }
   }
}

.tabpanel {
   &.is--active {
      display: block;
   }
}

/* title */
.h {
   &2 {
      @include heading($margin: 1.5rem 0 1rem 0);
      font-size: 1.9rem;
      font-weight: 700;
   }

   &3 {
      @include heading();
      font-weight: 400;
      font-size: 1.8rem;
   }

   &4 {
      @include heading();
      font-weight: 400;
      font-size: 1.7rem;
   }

   &5 {
      @include heading();
      font-weight: 300;
      font-size: 1.6rem;
   }

   &6 {
      @include heading($color: $black02);
      font-weight: 300;
      font-size: 1.5rem;
   }
}

.heading-link {
   margin-right: 0.2rem;

   &:before {
      content: "\2711";
      display: inline-block;
      transform: rotate(90deg);
      color: $main_color;
      font-weight: 400;
   }
}

/* Text */
.first-letter {
   line-height: 1;
   color: #333;
   font-weight: 200;
   text-indent: 0.3rem;

   &.type1 {
      display: inline-block;
      font-size: 2.5rem;
   }

   &.type2 {
      float: left;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      font-size: 3.5rem;
   }
}

hr {
   margin: 0.5rem 0;
   border: 0;
   border-top: 1px solid $grey06;
}

/* etc. */
.cont-box {
   margin: 2rem 0;
   padding: 2rem 1rem;

   &__tit {
      margin: 0.8rem 0 0.5rem 0;
      font-weight: 700;
      font-size: 1.1rem;
      line-height: 1.5;

      + ul,
      + ol {
         margin-top: 0;
      }
   }

   // > * {
   //    &:not(hr):only-of-type {
   //       margin-bottom: 0;
   //    }
   // }

   p {
      line-height: 1.5;
   }

   ul:last-child,
   ol:last-child {
      margin-bottom: 0;
   }

   &.type1 {
      border: 1px solid $grey05;
   }

   @media (min-width: $min_large_width) {
      &.ico {
         position: relative;
         padding-left: 7rem;
         
         &:before {
            content: "";
            display: block;
            position: absolute;
            top: 30px;
            left: 1.5rem;
            width: 80px;
            height: 80px;
            background: url(/assets/images/sprite.png) no-repeat -5px -5px;
         }
      }
   }
}