/* ==========================================================================
   variables css
   ========================================================================== */

/* common layout */
$layout_width: 1200px;
$pc_width: 1420px;
$tablet_width: 1200px;
$half_percentage: 50%;

$nav_item_size: 4em;
$nav_item_size_calc: $nav_item_size / 2;
$nav_item_size_position: #{$half_percentage} - $nav_item_size_calc;
$nav_item_position: -2.5em;

/* font */
$default_font: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
$font_size01: 1.5rem;
$font_size02: 1.7rem;

/* color */
$main_color: #ce5050;
$sub_color01: #facfcf;
$sub_color02: #f74545;
$sub_color03: #cc4444;
$black: #333;
$black02: #525252;
$grey: #898c8f;
$grey02: #f4f5f6;
$grey03: #ababab;
$grey04: #e8e8e8;
$green01: #538204;
$green02: #7da537;
$green03: #689817;

/* transition */
$standard_transition: all 0.3s;