{% if site.author.avatar %}
<div class="author__avatar {%if site.avatar_filter_gray%}img--grayscale{%endif%}" aria-hidden="true">
  <div class="author__image-wrapper">
    <img src="{{ site.author.avatar }}" alt="">
  </div>
</div>
{% endif %}
<div class="author__info-wrapper" itemscope>
  <{% if page.layout != "post" %}strong{% else %}h2{% endif %} class="author__name" itemprop="name">{{ site.author.name }}</{% if page.layout != "post" %}strong{% else %}h2{% endif %}>
  {% if site.author.desc %}<p class="author__desc" itemprop="description">{{ site.author.desc }}</p>{% endif %}
</div>