{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<div class="side-menu" aria-hidden="true">
  <nav class="menu__layer" id="primary-nav" aria-labelledby="nav-heading">
    <h2 id="nav-heading">Primary links</h2>
    <ul role="menu">
      {%- for link in site.data.navigation.main -%}
      {%- if link.url contains '://' -%}
        {%- assign url = link.url -%}
      {%- else -%}
        {%- assign url = link.url | relative_url -%}
      {%- endif -%}
      <li role="presentation">
        <a href="{{ url }}" {% if link.description %}title="{{ link.description }}" {% endif %} role="menuitem">{{ link.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
  
    <h2>Categories</h2>
    <ul>
      {% for i in (1..categories_max) reversed %}
      {% for category in site.categories %}
      {% if category[1].size == i %}
      <li>
        <a href="/category-list/#{{ category[0] }}">{{ category[0] }}</a>
      </li>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
  
    <h2>etc.</h2>
    <h3>Important Posts</h3>
    <ul>
      {% for post in site.posts limit:4 %}
      {% if post.important %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    
    <button type="button" class="close-nav" title="{{ site.data.ui-text[site.locale].menu_close_label | default: 'Close' }}" aria-haspopup="menu" aria-controls="primary-nav" aria-expanded="true">
      <span aria-hidden="true">X</span>
    </button>
  </nav>
</div>