<nav class="skip-links" id="skip-links">
  <strong class="visually-hidden">{{ site.data.ui-text[site.locale].skip_links | default: 'Skip links' }}</strong>
  <ul>
    <li><a href="#site-nav" class="visually-hidden">{{ site.data.ui-text[site.locale].skip_primary_nav | default: 'Skip to primary navigation' }}</a></li>
    <li><a href="#main" class="visually-hidden">{{ site.data.ui-text[site.locale].skip_content | default: 'Skip to content' }}</a></li>
    <li><a href="#page-footer" class="visually-hidden">{{ site.data.ui-text[site.locale].skip_footer | default: 'Skip to footer' }}</a></li>
  </ul>
</nav>